<header>
  <div class="container">
    <div class="flex">
      <p class="title"><span style="color: #8ECAE6;">W</span>eather</p>
      <div class="box__form">
        <form>
          <input type="text" [(ngModel)]="location" placeholder="Please input a Location" name="firstName">
          <button type="submit" (click)="search()"></button>
        </form>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="box">
    <div class="box__location">
      <p class="location">{{this.response?.location.name}}</p>
    </div>

    <div class="flex2">
      <div class="box__temperature">
        <p class="temperature">{{this.response?.current.temperature}}&deg;</p>
      </div>
      <div class="box__data">
        <p class="condition">{{this.response?.current.weather_descriptions}}</p>
        <p class="humidity">humidity: {{this.response?.current.humidity}}%</p>
        <p class="wind">wind: {{this.response?.current.wind_speed}}m/s {{this.response?.current.wind_dir}}</p>
      </div>
    </div>
  </div>
</div>

<div *ngIf="answer">
  <img src="{{answer.urls.full}}" alt="">
</div>